{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1 class="text-3xl font-bold text-indigo-500 text-center mt-3 mb-5">
        <p>
            {% if(app.user) %}
            Bonjour {{ app.user.fullName }} 💕
            {% else %}
            Bonjour à vous 💕
            {% endif %}
        </p>

    </h1>
    <div class="container text-justify text-xl">
       <p class="mb-3">
           Bienvenue sur notre de génération de lettre de motivation pour vous aider à rédiger vos lettres motivations
           lorsque vous êtes à la recherche d’emplois.
       </p>
        <p class="mb-3">
            Nous le savons : pendant la période de recherche d’emplois, la tâche la plus compliquée est la rédaction de
            lette de motivions surtout quand il s’agit de l’adapter à chaque candidature.
            Cela demande beaucoup de courage et motivation. C’est pour nous avons mis en place un petit de génération de
            lettre de motivation dans les domaines de recherches d’emplois.
        </p>
        <p class="mb-3">
            Ce système interagit avec une intelligence artificielle (OPENAI) qui, après avoir récolté les informations
            que
            vous lui renseignerez à travers un formulaire, va vous générer une lettre de motivation personnalisée.
            Vous n’aurez à copier-coller le contenu, l’enrichir et le styliser pour l’envoyer avec vos candidatures.
        </p>

       <p class="mb-3">
                Nous vous souhaitons bonne chance dans vos recherches d’emplois.
         </p>

    </div>
{% endblock %}
